@model Search

<div class="text-center">
    <form asp-action="SearchResults" method="post">
        <label asp-for="Query">Search: </label>
        <input asp-for="Query" />
        <button type="submit">Search</button>
    </form>
</div> 