@model Search

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Search" method="post">
        <label asp-for="Query">Search: </label>
        <input asp-for="Query" />
        <button type="submit">Search</button>
    </form>
</div>