<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a class="navbar-brand dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Homepage</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Search">Search</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SuggestionsQuestions">Suggestion/Question Box</a></li>
                </ul>
            </div>
            <div>
                <a class="navbar-brand dropdown-toggle" asp-area="" asp-controller="Characters" asp-action="Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Characters</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Characters" asp-action="Index">Characters</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Characters" asp-action="CharacterInfo">Character Information</a></li>
                </ul>
            </div>
            <div>
                <a class="navbar-brand dropdown-toggle" asp-area="" asp-controller="Mechanics" asp-action="Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mechanics</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Mechanics" asp-action="Index">Game Mechanics</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Mechanics" asp-action="TowerInfo">Tower Information</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Mechanics" asp-action="TowerPage">Towers</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
